<table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Update</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Duration</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of albums | async">
        <th scope="row">{{ album.id }}</th>
        <td>TODO</td>
        <td>{{ album.name }}</td>
        <td>{{ album.title }}</td>
        <td>{{ album.duration }}</td>
        <td>TODO</td>
      </tr>
    </tbody>
</table>